[submodule "src/lib/jsoncpp"]
	path = src/lib/jsoncpp
        url = https://github.com/open-source-parsers/jsoncpp.git
[submodule "test/lib/googletest"]
	path = test/lib/googletest
	url = https://github.com/google/googletest.git
[submodule "src/lib/LIO"]
	path = src/lib/LIO
	url = https://github.com/petrockblog/LIO.git
[submodule "src/lib/plog"]
	path = src/lib/plog
	url = https://github.com/SergiusTheBest/plog.git
