[Unit]
Description=ControlBlock Service
Documentation=https://www.petrockblock.com

[Service]
Type=simple
ExecStart=/usr/bin/controlblock

[Install]
WantedBy=multi-user.target
